<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" *ngIf="isLogged">
  <div>
    <div *ngIf="!profileForm.valid" class="alert alert-danger">
      Please review form.
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" formControlName="email" [ngClass]="profileForm.get('email').hasError('email') ? 'is-invalid' : ''">
      <!-- <div *ngIf="!profileForm.get('email').valid" class="alert alert-danger">
        Email is required.
      </div> -->
      <div *ngIf="profileForm.touched">
        <div *ngIf="profileForm.get('email').hasError('required')" class="alert alert-danger">
          Email is required.
        </div>
        <div *ngIf="profileForm.get('email').hasError('email')" class="alert alert-danger">
          Email is invalid.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" class="form-control" formControlName="first_name">
      <div *ngIf="!profileForm.get('first_name').valid && profileForm.get('first_name').touched" class="alert alert-danger">
        First name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" class="form-control" formControlName="last_name">
      <div *ngIf="!profileForm.get('last_name').valid && profileForm.get('last_name').touched" class="alert alert-danger">
        Last name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="alias">Alias</label>
      <input type="text" class="form-control" formControlName="alias">
      <div *ngIf="!profileForm.get('alias').valid && profileForm.get('alias').touched" class="alert alert-danger">
        Alias is required.
      </div>
    </div>

    <div class="form-group">
      <label for="job_title">Job Title</label>
      <input type="text" class="form-control" formControlName="job_title">
      <div *ngIf="!profileForm.get('job_title').valid && profileForm.get('job_title').touched" class="alert alert-danger">
        Job title is required.
      </div>
    </div>

    <div class="form-group">
      <label for="mobile_number">Mobile Number</label>
      <input type="text" class="form-control" formControlName="mobile_number">
      <div *ngIf="!profileForm.get('mobile_number').valid && profileForm.get('mobile_number').touched" class="alert alert-danger">
        Mobile number is required.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password">
      <div *ngIf="!profileForm.get('password').valid && profileForm.get('password').touched" class="alert alert-danger">
        Password is required.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Confirm Password</label>
      <input type="password" class="form-control" formControlName="confirm_password">
      <div *ngIf="!profileForm.get('confirm_password').valid && profileForm.get('confirm_password').touched" class="alert alert-danger">
        Confirm password is required.
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>

    <div class="form-group text-right" *ngIf="isLogged" >
      <button class="btn btn-primary" (click)="onLogout()" >Logout</button>
    </div>

  </div>
</form>
